
<div class="br-pagebody mg-b-30">
  <div class="br-section-wrapper">
    <div class="headers mg-b-20">
        
      <h2>Nouvelle dette</h2>
      <hr />
    </div>

    	<div id="new-debt">
      	<%= render 'form', debt: @debt %>

      </div>

	</div>
  </div>
  </div>
