
<div class="br-pagebody mg-b-30">
  <div class="br-section-wrapper">
    <div class="headers mg-b-20">
        
      <h2>Modification Epargne</h2>
      <hr />
    </div>

    	<div id="edit-saving">
      	<%= render 'form', saving: @saving %>

      </div>

	</div>
  </div>
  </div>
