

<div class="br-pagebody mg-b-30">
  <div class="br-section-wrapper">
    <div class="headers mg-b-20">
        
      <h2>Nouveau revenu</h2>
      <hr />
    </div>

    	<div id="new-income">
      	<%= render 'form', income: @income %>

      </div>

	</div>
  </div>
  </div>