<% @wallets.each do |wallet| %>
  <tr>
    
    <td><%= wallet.name %></td>
   
    <td><%= wallet.status %></td>
    <td>
    <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_wallet_path(wallet), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), wallet_delete_path(wallet), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
  </tr>
<% end %>