<% @contact_types.each do |contact_type| %>
  <tr>
    
    <td><%= contact_type.name %></td>
   
    <td><%= contact_type.status %></td>
    <td>
    <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_contact_type_path(contact_type), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), contact_type_delete_path(contact_type), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
  </tr>
<% end %>